<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rossg_000.fyp_v3">

    <!--     android:theme="@style/AppTheme" -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="FYP_V3"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Tasks"
            android:label="Tasks"
            android:parentActivityName=".MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Journal"
            android:label="Journal"
            android:parentActivityName=".MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Stretches"
            android:label="Stretches" />
        <activity
            android:name=".Exercise"
            android:label="Exercises" />
        <activity
            android:name=".Meditation"
            android:label="Meditation" />
        <activity
            android:name=".PopUpInfo"
            android:label="Activity Information"
            android:theme="@style/Theme.AppCompat.Dialog.Alert" />
        <activity
            android:name=".CompleteOrFail"
            android:label="Progress Report"
            android:theme="@style/Theme.AppCompat.Dialog.Alert" />
        <activity
            android:name=".Rewards"
            android:label="Rewards">
        </activity>
    </application>

</manifest>